# test profile
app:
  kafka:
    topics:
      task2: test-task3-topic
spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
      #ddl-auto: update
  # Comment because use @Testcontainers for Kafka and Postgres
  #datasource:
  #  url: jdbc:postgresql://localhost:5433/docker_kafka_producer_db
  #  driver-class-name: org.postgresql.Driver
  #  username: postgres
  #  password: postgres
  kafka:
    bootstrap-servers: localhost:9092
    topic-name: test-topic
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
